.react-time-picker {
  width: 100%;
}

.react-time-picker__wrapper {
  border: none !important;
}

.react-time-picker__inputGroup__input {
  outline: none !important;
  color: #18181b !important; /* zinc-900 */
}

.react-time-picker__button {
  padding: 0 !important;
}

.react-time-picker__button svg {
  color: #a1a1aa !important; /* zinc-400 */
}

.react-clock {
  background: white;
}
